<div class="container" ng-controller="HomeCtrl" ng-cloak
	class="ng-cloak">
	<h1>{{title}}</h1>
	
	
	<style>
.CodeMirror {
	/* Set height, width, borders, and global font properties here */
	font-family: monospace;
	height: 100px;
}
</style>




	<div class="row">

		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">Define URL</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="usr">URL:</label> <input type="text"
							class="form-control" ng-model="url" id="url">
					</div>

				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Define Tokens</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="usr">Tokens:</label> <input type="text"
							class="form-control" ng-model="tokerns" id="tokerns">
					</div>

				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Define Schema</div>
				<div class="panel-body">
					<ui-codemirror ui-codemirror-opts="editorOptions"
						ng-model="cmModel"></ui-codemirror>
				</div>
			</div>

			<button type="button" ng-click="scraptit()" class="btn btn-primary">Scrap
				it</button>
		</div>

		<div class="col-md-4"></div>
	</div>

</div>
